#chatbox {
  height: 600px;
  width: 90%;
  margin: 10px auto;

  #graybar {
    height: 50px;
    width: 100%;
    background-color: #EBEBEB;
    float: left;
  }

  #usersmenu {
    float: left;
    height: 100%;
    width: 300px;
    background-color: #D6D6D6;
    overflow-y: scroll;

    ul li {
      height: 50px;
      background-color: #AAAAAA;
      border-top: 2px solid #EBEBEB;
      text-align: center;
      line-height: 50px;
      transition: 0.5s ease all;
    }
    ul li:hover {
      background-color: #EBEBEB;
      cursor: pointer;
    }
  }

   #messagebox {
    height: 100%;
    width: calc(100% - 300px);
    float: left;
    position: relative;
    background-color: #F7F6F6;

    #chat {
      float: left;
      background-color: #F7F6F6;
      height: calc(100% - 50px);
      width: 100%;
    }

    #message {
      resize: none;
      line-height: 50px;
      position: absolute;
      bottom: 0px;
      height: 50px;
      width: 867px;
      left: 0px;
      overflow: hidden;
    }

    #send {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 50px;
      width: 50px;
      border: 0;
      background-color: #990909;
    }
   }
}
