@import "variables.scss";

#page-overlay {
  width: 100%;
  height: 100vh;
  z-index: 9998;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  display: none;
}

.popup-head {
  width: 100%;
  height: 50px;
  background-color: $main-color;
  color: white;
  float: left;
  position: relative;

  h2 {
    line-height: 50px;
    padding-left: 20px;
    float: left;
  }

  a {
    right: 0;
    top: 0;
    position: absolute;
    img {
      width: 20px;
      height: 20px;
      margin: 15px;
    }
  }
}
.popup-content {
  width: 100%;
  height: auto;
  float: left;
  padding: 10px;

  .popup-row {
    height: 38px;
    float: left;
    width: 100%;

    &.opmerking {
      height: auto;
    }
    label {
      padding: 5px 0px;
      width: 25%;
      display: block;
      float: left;
      line-height: 28px;
    }

    p {
      float: left;
      height: 38px;
      width: 215px;
      line-height: 38px;
    }

    input[type=text]{
      float: left;
      margin: 5px 0;
      margin-right: 5px;
      height: 30px;
      border: 2px solid $main-color;
      padding: 5px;

      &.bank {
        width: 300px;
      }
      &.name {
        width: 120px;
      }
      &.prefix {
        width: 80px;
        text-align: center;
      }
      &.lastname {
        width: 140px;
      }
      &.street {
        width: 268px;
      }
      &.streetnr {
        width: 50px;

        text-align: center;
      }
      &.zip {
        width: 100px;
        text-transform: uppercase;
        text-align: center;
      }
      &.phone {
        width: calc(25% - 7px);
      }
      &.email {
        width: 210px;
      }
    }
    select {
      height: 30px;
      margin: 5px 0;
      float: left;
      margin-right: 5px;
      border: 2px solid $main-color;
      &.title {
        width: 73px;
      }
      &.country {
        width: 154px;
      }
      &.day {
        width: 50px;
      }

    }
    input[type=checkbox]{
      float: left;
      width: 20px;
      height: 20px;
      margin: 10px 10px 10px 0;
      border: 2px solid $main-color;
      cursor: pointer;
    }
    textarea {
      padding: 5px;
      height: 80px;
      width: 422.5px;
      float: left;
      resize: none;
      border: 2px solid $main-color;
    }
    input[type=button]{
      margin: 10px;
      margin-left: 0;
      &.save {
        float: right;
      }
    }
  }
}

#critical-error {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
  z-index: 9999;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: none;
}

#members-popup-edit, #members-popup-add {
  width: 600px;
  height: 615px; //change for higher content
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
  z-index: 9999;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: none;
}
#members-popup-edit {
  height: 655px;
}

.documents-popup-FolderFile {
  width: 536px;
  height: 156px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
  z-index: 9999;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: none;
  .popup-content-h2{
    margin-top: 10px;
  }
  input[type=text]{
    float: left;
    margin: 10px 0;
    margin-right: 5px;
    margin-left: 10px;
    height: 30px;
    width: 400px;
    border: 2px solid $main-color;
    padding: 5px;
  }
  input[type=button]{
    float: left;
    margin-top: 10px;
    background-color: $main-color;
    color: white;
    width: 110px;
    height: 30px;
    border: 0;
    text-transform: uppercase;
    &.delete{
      float: right;
      margin-right: 20px;
      margin-left: 10px;
      width: 120px;
    }
  }
}
// Karin bezig
.status_container{
  height: 35px;
  width: 60px;
  float: left;
  margin-right: 30px;
  img{
    float: left;
    margin: 0;
    padding: 0;
    margin-left: -5px;
  }
}

.sendway{
  height: 35px;
  width: 90px;
  float: left;
  input[type=radio]{
    float: left;
    width: 20px;
    height: 20px;
    margin: 10px 10px 10px 0;
    border: 2px solid $main-color;
    cursor: pointer;
  }
  .sendway_option{
    float: left;
    height: 40px;
    width: 55px;
    line-height: 40px;
  }
}
